In [1]:
import pandas as pd 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("train.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df.shape

(889, 12)

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [9]:
df.drop_duplicates(inplace=True)
df.drop(columns=['Name','Ticket','PassengerId','Cabin'],inplace=True)

In [11]:
all_categorical = []
dtypes = df.dtypes
for column,dtype in dtypes.items():
    if dtype == 'object':
        all_categorical.append(column)
all_categorical

['Sex', 'Embarked']

In [12]:
labelEncoder =preprocessing.LabelEncoder()
df['Sex'] = labelEncoder.fit_transform(df['Sex'] )
df['Embarked'] = labelEncoder.fit_transform(df['Embarked'] )

**APPLYING SVM ALGORITHM:**

In [13]:
from sklearn import svm
from sklearn.metrics import confusion_matrix,accuracy_score

In [14]:
def sv(col):
    clf=svm.SVC(gamma=0.01,C=100)
    for i in col:
        print(f"Here {i} is dependent variable and remaining are independent variables\n")
        y=df[i]
        x=df.drop([i],axis=1)
        X_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=0)
        model = clf.fit(X_train,y_train)
        ypred=model.predict(x_test)
        print("\nACCURAY SCORE:\n",accuracy_score(y_test,ypred,normalize=True))
        print("\nCONFUSION MATRIX:\n",confusion_matrix(y_test,ypred))
        print("\n-----------------------------------------------------------------------------------")
column = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked']
sv(column)

Here Survived is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7415730337078652

CONFUSION MATRIX:
 [[124  33]
 [ 36  74]]

-----------------------------------------------------------------------------------
Here Pclass is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.9026217228464419

CONFUSION MATRIX:
 [[ 64   4   2]
 [  4  36   9]
 [  1   6 141]]

-----------------------------------------------------------------------------------
Here Sex is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7265917602996255

CONFUSION MATRIX:
 [[ 66  32]
 [ 41 128]]

-----------------------------------------------------------------------------------
Here SibSp is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7490636704119851

CONFUSION MATRIX:
 [[150  24   7   0   1   0   0]
 [ 21  39   5   0   0   0   0]
 [  4   1   3   0   0   0   0]
 [  0   2   1   3   1   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

-----------------------------------------------------------------------------------
Here Parch is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.797752808988764

CONFUSION MATRIX:
 [[187   6   5   0   0   0]
 [ 21  15   3   0   0   1]
 [ 10   6  11   0   0   0]
 [  0   0   1   0   0   0]
 [  1   0   0   0   0   0]
 [  0   0   0   0   0   0]]

-----------------------------------------------------------------------------------
Here Embarked is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7677902621722846

CONFUSION MATRIX:
 [[ 23   2  24]
 [  0   8  14]
 [ 18   4 174]]

-----------------------------------------------------------------------------------

In [18]:
scores={'Dependent Variable':['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked'],
       'AccuracyScore':[0.7415*100,0.9026*100,0.7265*100,0.7490*100,0.7977*100,0.7677*100],
       'CorrectPrediction':[198,241,194,200,213,205] ,
       'IncorrectPrediction':[69,26,73,67,54,62]
       }
scores=pd.DataFrame(scores)
scores

  Dependent Variable  AccuracyScore  CorrectPrediction  IncorrectPrediction
0           Survived          74.15                198                   69
1             Pclass          90.26                241                   26
2                Sex          72.65                194                   73
3              SibSp          74.90                200                   67
4              Parch          79.77                213                   54
5           Embarked          76.77                205                   62

when pclass is dependent variable the model gives high accuracy<br>
when Sex is dependent variable the model gives low accuracy