In [1]:
import pandas as pd 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import * 
df=pd.read_csv("train.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [2]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
df.shape

(889, 8)

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [4]:
df.drop_duplicates(inplace=True)
df.drop(columns=['Name','Ticket','PassengerId','Cabin'],inplace=True)

FINDING ALL CATEGEORICAL COLUMNS:

In [5]:
all_categorical = []
dtypes = df.dtypes
for column,dtype in dtypes.items():
    if dtype == 'object':
        all_categorical.append(column)
all_categorical

['Sex', 'Embarked']

CONVERTING TO CATEGORICAL "

In [7]:
labelEncoder =preprocessing.LabelEncoder()
df['Sex'] = labelEncoder.fit_transform(df['Sex'] )
df['Embarked'] = labelEncoder.fit_transform(df['Embarked'] )

**APPLYING NAIVE BAYE'S :(Using Function)**<br>
(a classification technique which classifies recoreds based on probability)

**here the dependent and independent variables should be only categorical <br>
Categorical columns used here : Survived, Pclass, Sex, SibSp, Parch, Embarked**

In [18]:
def nb(col):
    clf=BernoulliNB()
    for i in col:
        print(f"Here {i} is dependent variable and remaining are independent variables\n")
        y=df[i]
        x=df.drop([i],axis=1)
        X_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=0)
        model = clf.fit(X_train,y_train)
        ypred=model.predict(x_test)
        print("\nACCURAY SCORE:\n",accuracy_score(y_test,ypred,normalize=True))
        print("\nCONFUSION MATRIX:\n",confusion_matrix(y_test,ypred))
        print("\n-----------------------------------------------------------------------------------")
column = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked']
nb(column)

Here Survived is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7715355805243446

CONFUSION MATRIX:
 [[131  26]
 [ 35  75]]

-----------------------------------------------------------------------------------
Here Pclass is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.5917602996254682

CONFUSION MATRIX:
 [[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]

-----------------------------------------------------------------------------------
Here Sex is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7453183520599251

CONFUSION MATRIX:
 [[ 49  49]
 [ 19 150]]

-----------------------------------------------------------------------------------
Here SibSp is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.6891385767790262

CONFUSION MATRIX:
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]

-----------------------------------------------------------------------------------
Here Parch is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7153558052434457

CONFUSION MATRIX:
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]

-----------------------------------------------------------------------------------
Here Embarked is dependent variable and remaining are independent variables


ACCURAY SCORE:
 0.7340823970037453

CONFUSION MATRIX:
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]

-----------------------------------------------------------------------------------

**CONFUSION MATRIX ANALYSED:**

In [23]:
scores={'Dependent Variable':['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked'],
       'AccuracyScore':[0.7715,0.5917,0.7453,0.6891,0.7153,0.734],
       'CorrectPrediction':[206,158,199,184,191,196] ,
       'IncorrectPrediction':[61,109,68,82,76,71]
       }
scores=pd.DataFrame(scores)
scores

  Dependent Variable  AccuracyScore  CorrectPrediction  IncorrectPrediction
0           Survived         0.7715                206                   61
1             Pclass         0.5917                158                  109
2                Sex         0.7453                199                   68
3              SibSp         0.6891                184                   82
4              Parch         0.7153                191                   76
5           Embarked         0.7340                196                   71